# Auto detect text files and perform LF normalization
* text=auto

# Treat all .txt files in Spreadsheet Operations Template as VBA (Visual Basic for Applications)
"Shared/Spreadsheet Operations Template/*.txt" linguist-language=VBA
